body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.container {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;
}
.sidebar {
  flex: 1;
  /* border-right-width: 1px;
    border-right-color: black;
    border-right-style: solid; */
  border-right: 1px solid black;
}
.content {
  flex: 3;
}
.input-container {
  display: flex;
}
.input-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding:5px;
  background-color:yellow ;
  color:red;
}
